*{
	margin: 0px; 
	padding: 0px; 
	font-size:14px;
	color:#333;
	font-family:"微软雅黑",Sans-serif; 
	list-style: none;
}
.clear{
	clear: both;
}
.container{
	padding: 0px 0 30px;
}
body{
	min-width: 1200px;
}
.container{
	min-width: 970px;
}
/* 头部 */
.header{
	width: 100%;
	height: 62px;
	background-image: url(../images/header_bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 555;
}
.header .container{
	padding: 0;
}
.header_left{
	width: 20%;
	float: left;
	height: 62px;
}
.header_left img{
	margin-top: 12px;
}
.header_nav{
	width: 78%;
	float:left;
	height: 62px;
	padding: 0 40px;
}
.header_nav ul li {
	width: 12.5%;
	float: left;
	height: 62px;
	text-align: center;
	cursor: pointer;
}
.header_nav ul li a{
	display: inline-block;
	color: #fff;
	text-decoration: none;
	line-height: 62px;
	font-size: 14px;
}
.header_nav ul li a.ticket{
	color:#ebcf75;
}
.header_right{
	width: 0%;
	float: left;
	height: 62px;
	padding: 0;
}
.header_right ul li{
	width: 20%;
	float: left;
}
.header_right ul li a{
	display: inline-block;
	height: 62px;
	text-align: center;
	width: 100%;
	text-align: center;
}
.header_right ul li a img{
	width: 15px;
	margin-top: 23px;
}
.en a{
	color: #fff;
	font-weight: bold;
	line-height: 62px;
}



/* banner */
.banner{
	margin-top: 62px;
	width: 100%;
	height: 567px;
	background-image: url(../images/banner5.jpg);
	background-size: cover;
	position: relative;
}
@media(max-width: 1600px){
	.banner{
		background-size: 100%;
		height: 450px;
	}
}
@media(max-width: 1200px){
	.banner{
		background-size: 100%;
		
	}
}
.ticket-btn{
	position: absolute;
	left: 23%;
	bottom: 13%;
	width: 192px;
	height: 48px;
	background-image: url(../images/ticket-btn.jpg);
}

.ticket-btn a{
	color: #fff;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	line-height: 48px;
	width: 100%;
	height: 100%;
	padding-right: 10px;
}
.ticket-btn a:hover{
	text-decoration: none;
	color: #fff;
}
/* 大会介绍 */
.general-introduction{
	background: #0a679d;
	z-index: -20;
}
.general-introduction h1{
	font-weight: normal;
	line-height: 100px;
	text-align: center;
	color: #fff;
}
.content{
	margin-bottom:40px;
}
.content p{
	color: #fff;
	line-height: 25px;
	font-size: 16px;
}
.content p:nth-of-type(1){
	margin-bottom: 20px;
}
.content p:nth-of-type(2){
	margin-bottom: 40px;
}
.content ul li {
	float: left;
	width: 16.66%;
	text-align: center;
}
.content ul li img{
	height: 75px;
}
.content ul li p{
	margin-top: 15px;
}


/*演讲嘉宾 */
/* 补充 */
.speak_title_text{
	display: none;
}
.speaker_datebox,.Agenda_datebox{
	width: 90%;
	text-align: center;
	margin: 0 auto;
}
.speaker_datebox ul li,.Agenda_datebox ul li{
	width: 33.3%;
	float: left;
	height: 100%;
	border-bottom: 2px solid #eceef4;
	margin-bottom: -2px;
}

.Agenda_datebox ul li{
	width: 50%;
	border-bottom: 2px solid #dedfe0;
}
.speaker_datebox ul li a,.Agenda_datebox ul li a{
	font-size: 16px;
	color: #212020;
	line-height: 30px;
	cursor: pointer;
	display: inline-block;
	height: 100%;
}
.speaker_datebox ul li a:hover,.Agenda_datebox ul li a:hover{
	color: #212020;
	text-decoration: none;
}
/* 补充 */
.speaker,.Agenda,.Registration,.Partner,.accommodation,.previous_review,.Assembly_information{
	position: relative;
}
.top-line{
	width: 43%;
	height: 2px;
	background: #025884;
	position: absolute;
	top:70px;
}
.top-line:nth-of-type(1){
	left: 0;
}
.top-line:nth-of-type(2){
	right: 0;
}
.speaker h1,.Agenda h1,.Registration h1,.Partner h1,.accommodation h1,.previous_review h1,.Assembly_information h1{
	font-weight: normal;
	line-height: 100px;
	text-align: center;
	color: #025884;
}
.speaker-content-top {
	width: 100%;
	display: none;
	text-align: center;
}
.speaker-content-top ul li{
	position: relative;
	display: inline-block;
	margin: 0 10px;
	padding:5px 10px;
}
.speaker-content-top ul li:before{
	left: 0;
    top: 0;
    border-top: 1px solid #00c8dc;
    border-left: 1px solid #00c8dc;
    content: "";
    position: absolute;
   display: none;
    width: 20px;
    height: 10px;
   
}
.speaker-content-top ul li:after{
	bottom: 0;
    right: 0;
    border-bottom: 1px solid #00c8dc;
    border-right: 1px solid #00c8dc;
    content: "";
    position: absolute;
    display: none;
    width: 20px;
    height: 10px;
}
.speaker-content-top ul li a:before{
	right: 0;
    top: 0;
    border-top: 1px solid #00c8dc;
    border-right: 1px solid #00c8dc;
    content: "";
    position: absolute;
    display: none;
    width: 20px;
    height: 10px;
   
}
.speaker-content-top ul li a:after{
	left: 0;
    bottom: 0;
    border-bottom: 1px solid #00c8dc;
    border-left: 1px solid #00c8dc;
    content: "";
    position: absolute;
    display: none;
    width: 20px;
    height: 10px; 
}
.speaker-content-top ul li.border a:after,.speaker-content-top ul li.border a:before,.speaker-content-top ul li.border:after,.speaker-content-top ul li.border:before,.speaker-content-top ul li:hover a:after,.speaker-content-top ul li:hover a:before,.speaker-content-top ul li:hover:after,.speaker-content-top ul li:hover:before{
	display: block;
}
.speaker-content-top ul li.border a,.speaker-content-top ul li:hover a{
	color:#00c8dc;
}
.speaker-content-top ul li.active a:after,.speaker-content-top ul li.active a:before,.speaker-content-top ul li.active:after,.speaker-content-top ul li.active:before,.speaker-content-top ul li:hover a:after,.speaker-content-top ul li:hover a:before,.speaker-content-top ul li:hover:after,.speaker-content-top ul li:hover:before{
	display: block;
}
.speaker-content-top ul li.active a,.speaker-content-top ul li:hover a{
	color:#00c8dc;
}







.speaker-content-top ul li a{
	display: inline-block;
	line-height: 30px;
	color:#000;
	text-decoration: none;
	cursor: pointer;
}

.speaker-content-bottom{
	margin-top: 2px;
}

.speaker-content-bottom ul li {
	float: left;
	width: 20%;
	text-align: center;
	padding-top: 60px;
	padding: 60px 10px 0px;
	min-height:310px;
	position: relative;
}.speaker-content-bottom_en ul li{
	min-height: 330px;
}
.speakers_name h3{
	color: #183249;
	font-weight: bold;
	font-size: 18px;
}
.speakers_name p{
	color: #183249;
	font-weight: bold;
	font-size: 13px;
}
.speakers_name a{
	text-decoration: underline;
	color: #183249;
	border: none !important;
	background: none !important;
}
.speakers_name button{
	color: #183249;
	text-decoration: underline;
	background: none;
	border: none;
	font-size: 14px;
	outline: none !important;
	position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -44px;
}
.speakers_name button:hover{
	background: none;
	color: #183249;
	text-decoration: underline;
}
.speakerTit_bg a,.AgendaTit_bg a{
	color: #0a679d !important;
	border-bottom: 2px solid #0a679d !important;
	margin-bottom: -2px !important;
}
.modal-header{
	background: #5a9bd5;
	height: 50px;
}
.modal-header button img{
	width: 20px;
}
.modal-header button.close{
	opacity: 1;
}
.jiaruhezuo{
	font-size: 18px !important;
	text-decoration: none !important;
	color: #b0b1b1 !important;
	font-weight: bold !important;
	background: none !important;
	border: none !important;

}
.jiaruhezuo:hover{
	background: none !important;
	border: none !important;
}

@media (min-width: 768px){
	.modal-dialog {
	    width: 750px !important;
	    margin: 30px auto;
	}
	.myModal_becomejiabin .modal-dialog{
		width: 500px !important;
	}
}
.myModal_becomejiabin .modal-dialog h3{
	margin-top: 0 !important;
	font-weight: bold;
	margin: 15px 0;
}
.myModal_becomejiabin .modal-dialog p{
	text-align: left;
	font-size: 15px;
	line-height: 25px;
	margin-bottom: 0;
}
.myModal_becomejiabin .modal-dialog h5{
	font-size: 17px;
	color: #0084ea;
	margin: 10px auto 25px !important;
}
.myModal_becomejiabin .modal-dialog h4{
	text-align: left;
	font-weight: bold;
}
.modal-body img{
	width: 200px;
}
.becomejiabin{
	width: 60px !important;
	margin-top: 50px;
}
.modal-body p:nth-of-type(2),.modal-body p:nth-of-type(4),.modal-body p:nth-of-type(3),.modal-body p:nth-of-type(5){
	/* text-align: justify; */
	text-align: left;
}
.modal-body img.arrow_bottom{
	width: 30px;
	display: block;
	margin: 0 auto;
}
.modal-body img.arrow_bottom1{
	width: 30px;
	display: none;
	margin: 0 auto;
	-webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}
.become_speaker_f{
	background:rgba(0,3,51,0.1);padding-bottom:50px;margin-top:20px;
}
.speak_title{
	margin: 20px  0 0;
}


























/* 会议日程 */
.Agenda{
	background: #f2f0f0;
}
.Agenda-bottom{
	margin-top: 2px;
}
.Agenda-bottom table{
	width: 90%;
	margin-top: 50px;
	margin-left: 50px;
}
.Agenda-bottom tr td:nth-of-type(1){
	width: 20%;
	text-align: center;
	position: relative;
}
.Agenda-bottom tr td:nth-of-type(3){
	width: 60%;
	text-align: center;
	position: relative;
}
.Agenda-bottom tr td:nth-of-type(2){
	width: 20%;
	text-align: center;
	position: relative;
}
.Agenda-bottom tr td:nth-of-type(1) ul li {
	position: absolute;
	right: 0;
}
.agenda_one_left li:nth-of-type(1){
	top: 0px;
}
.agenda_one_left li:nth-of-type(2){
	top: 64px;
}
.agenda_one_left li:nth-of-type(3){
	top: 130px;
}
.agenda_one_left li:nth-of-type(4){
	top: 203px;
}
.agenda_one_left li:nth-of-type(5){
	top: 286px;
}
.agenda_one_left li:nth-of-type(6){
	top: 368px;
}
.agenda_one_left li:nth-of-type(7){
	top: 495px;
}
.agenda_one_left li:nth-of-type(8){
	top: 554px;
}
.agenda_one_left li:nth-of-type(9){
	top: 626px;
}
.agenda_one_left li:nth-of-type(10){
	top: 911px;

}
.agenda_one_left li:nth-of-type(11){
	top: 438px;
}
.Agenda-bottom tr td:nth-of-type(3) ul li {
	position: absolute;
	left: 0;
	text-align: left;
}
.Agenda-bottom tr td:nth-of-type(3) ul li span,.agenda_one_right li:nth-of-type(10) ul li span{
	
	line-height: 35px;
}
.agenda_one_right li:nth-of-type(1){
	top: 0px;
}
.agenda_one_right li:nth-of-type(2){
	top: 64px;
}
.agenda_one_right li:nth-of-type(3){
	top: 121px;
}
.agenda_one_right li:nth-of-type(4){
	top: 194px;
}
.agenda_one_right li:nth-of-type(5){
	top: 278px;
}
.agenda_one_right li:nth-of-type(6){
	top: 360px;
}
.agenda_one_right li:nth-of-type(7){
	top: 495px;
}
.agenda_one_right li:nth-of-type(8){
	top: 554px;
}
.agenda_one_right li:nth-of-type(9){
	top: 626px;
}
.agenda_one_right li:nth-of-type(10){
	top: 660px;

}


.agenda_one_left_R li:nth-of-type(1){
	top: 7px;
}
.agenda_one_left_R li:nth-of-type(2){
	top: 86px;
}
.agenda_one_left_R li:nth-of-type(3){
	top: 209px;
}
.agenda_one_left_R li:nth-of-type(4){
	top: 264px;
	color: #000 ;
	font-weight: normal;
}
.agenda_one_left_R li:nth-of-type(5){
	top: 343px;
}
.agenda_one_left_R li:nth-of-type(6){
	top: 439px;
}
.agenda_one_left_R li:nth-of-type(7){
	top: 537px;
}
.agenda_one_left_R li:nth-of-type(8){
	top: 852px;
}



.agenda_one_right_R li:nth-of-type(1){
	top: 0px;
}
.agenda_one_right_R li:nth-of-type(2){
	top: 78px;
}
.agenda_one_right_R li:nth-of-type(3){
	top: 207px;
}
.agenda_one_right_R li:nth-of-type(4){
	top: 255px;

}
.agenda_one_right_R li:nth-of-type(5){
	top: 334px;
}
.agenda_one_right_R li:nth-of-type(6){
	top: 433px;
}
.agenda_one_right_R li:nth-of-type(7){
	top: 529px;
}
.agenda_one_right_R li:nth-of-type(8){
	top: 842px;
}
.agenda_one_left li:nth-of-type(2),.agenda_one_left li:nth-of-type(4),.agenda_one_left li:nth-of-type(5),.agenda_one_left li:nth-of-type(6),.agenda_one_left li:nth-of-type(8),.agenda_one_left li:nth-of-type(9),.agenda_one_left li:nth-of-type(7),.agenda_one_right li:nth-of-type(2),.agenda_one_right li:nth-of-type(4) span:nth-of-type(1),.agenda_one_right li:nth-of-type(5) span:nth-of-type(1),.agenda_one_right li:nth-of-type(6) span:nth-of-type(1),.agenda_one_right li:nth-of-type(7),.agenda_one_right li:nth-of-type(8),.agenda_one_right li:nth-of-type(9),.agenda_one_left_R li,.agenda_one_right_R li:nth-of-type(1) span:nth-of-type(1),.agenda_one_right_R li:nth-of-type(2) span:nth-of-type(1),.agenda_one_right_R li:nth-of-type(3),.agenda_one_right_R li:nth-of-type(5) span:nth-of-type(1),.agenda_one_right_R li:nth-of-type(6) span:nth-of-type(1),.agenda_one_right_R li:nth-of-type(7) span:nth-of-type(1),.agenda_one_right_R li:nth-of-type(8) span:nth-of-type(1){
	font-weight: bold;
	color: #00bcd5;
}
/* 注册报名 */
.Registration_content p{
	width: 100%;
	color: #025884;
	font-size: 17px;
	line-height: 25px;
	font-weight: bold;
	margin-bottom: 15px;
}
.Registration_table{
	width: 80%;
	margin: 0 auto;
	text-align: center;
	border: 1px solid #dddbdb;
}
.Registration_table tr{
	border-bottom: 1px solid #dddbdb;
}
.Registration_table thead tr td{
	height: 50px;
	font-size:18px;
	color: #fff; 
	background: #01aded;
	text-align: center;
	width: 25%;
}
.Registration_table tfoot tr:nth-of-type(1) td,.Registration_table tfoot tr:nth-of-type(3) td,.Registration_table tfoot tr:nth-of-type(5) td{
	background:#f9f8f8;
}
.Registration_table tfoot tr:nth-of-type(2) td,.Registration_table tfoot tr:nth-of-type(4) td{
	background:#f1f0f0;
}

.Registration_table thead tr td:nth-of-type(2){
	
}
.Registration_table thead tr td:nth-of-type(3){
	
}
.Registration_table thead tr td:nth-of-type(4){
	
}
.Registration_table tfoot tr td:nth-of-type(2){
	font-size: 14px;
}
.Registration_table tfoot tr td:nth-of-type(3){
	
	font-size: 14px;
}
.Registration_table tfoot tr td:nth-of-type(4){
	font-size: 14px;
}
.Registration_table tfoot tr:nth-of-type(1){
	color: #8f8f91;
	font-size: 16px;
	height: 50px;
}
.Registration_table tfoot tr:nth-of-type(2) td:nth-of-type(1) p,.Registration_table tfoot tr:nth-of-type(3) td:nth-of-type(1) p{
	font-size: 16px;
	color:  #8f8f91;
	font-weight: normal;
	margin: 0;
}	
.Registration_table tfoot tr:nth-of-type(2) td:nth-of-type(1),.Registration_table tfoot tr:nth-of-type(3) td:nth-of-type(1){
	padding: 10px 0;
}
.Registration_table tfoot tr:nth-of-type(2) td,.Registration_table tfoot tr:nth-of-type(3) td{
	color: #6d6d70;
	font-size: 30px;
	font-weight: bold;
}
.Registration_table+p{
	font-size: 16px;
	color: #8f8f91;
	line-height: 25px;
	font-weight: normal;
}
.Registration_table_contact{
	width: 70%;
	margin: 0 auto;
	margin-top: 20px;
}
.Registration_table_contact2{
	width: 70%;
	margin: 0 auto;
	margin-top: 0px;
}
.Registration_table_contact tr:nth-of-type(1){
	color: #131313;
	line-height: 100px;
}
.Registration_table_contact tr td{
	line-height:25px;
	color: #1a1a1a;
	font-weight: 600;
	font-size: 16px;
}
.Registration_table_contact tr:nth-of-type(2){
	margin-bottom: 15px;
}
.Registration_table_contact tr:nth-of-type(1) td{
	width: 33%;
}
.Registration_table_contact tr:nth-of-type(1) td:nth-of-type(1){
	text-align: right;
}

.Registration_table_contact2 tr td:nth-of-type(1){
	width: 40%;
	text-align: right;
}
.Registration_table_contact2 tr td{
	line-height: 25px;
	font-size: 16px;
}
.gift_box{
	margin: 0 auto;
	background: #f8f6fb;
	padding: 10px 0;
	margin: 10px 0;

}
.gift_box span{
	font-size: 18px;
	color: #b1afb1;
	margin: 0 60px;
	display: inline-block;
}
.gift_box span.gift_box_span{
	margin: 0 40px;
}
.gift_box span.git_box_bag{
	margin: 0;
}
.yanxiu_content{
	width: 40%;
	float: left;
	text-align: left;
		padding: 0 20px;
}
.team_content{
	width: 30%;
	float: left;
	text-align: left;
	padding: 0 20px;
}



/*合作伙伴 */
.Partner_content{
	width: 100%;
}
.Partner_content h3{
	text-align: center;
	color: #2093ed;
	font-weight: normal;
	margin: -20px auto 40px;
}
.Partner_content ul li{
	width: 20%;
	overflow: hidden;
	height:85px;
	float: left; 
	text-align: center;
}
.Partner_content ul li a {
	display: block;
	width: 100%;
	height: 100%;
}
.Partner_content ul li a img{
	margin: 0 auto;
	height: 60%;
	margin-top: 20px;
}
.Partner_content ul li.partner_Popup .speakers_name img{
	width: 25px !important;
	margin-top: -3px;
}
.myModal_becomejiabin .partner-modal-dialog h3{
	color: #333;
}
.myModal_becomejiabin .partner-modal-dialog h3+p{
	color: #309bee;
	text-align: center;
	font-size: 16px;
	margin: -5px auto 25px;
}
.myModal_becomejiabin .partner-modal-dialog h4{
	color: #333;
	font-size: 16px;
	font-weight: bold;
	margin-top: 20px;
}
.myModal_becomejiabin .partner-modal-dialog h4+ul li{
	float: none;
	width: 100%;
	height: auto;
	line-height: 25px;
	text-align: left;
	color: rgb(51,51,51);
	display: inline-block;
}
.myModal_becomejiabin .partner-modal-dialog h4+ul li span{
	border: 2px solid #00a0e9;
	display: inline-block;
	width: 10px;
	height: 10px;
	background: #00a0e9;
	margin-right: 5px;
}

/* 场地住宿 */
.accommodation{
	background: #f9f8f8;
}
.accommodation_content h3{
	color: #50638b;
}
.accommodation_content h3+p{
	color: #6d6d6e;
	font-size: 16px;
	line-height: 30px;
}
.accommodation_content_md h4{
	color: #5b5b5b;
}
.accommodation_content_md h4:nth-of-type(3){
	margin-top: 30px;
}
.accommodation_content_botm img{
	float: left;
	margin-right: 20px;
}
.accommodation_content_md div.maps_box{
	overflow: hidden;
	text-align: center;
	margin: 0;
	padding:0;
}
.accommodation_content_botm .accommodation_hotel_name{
	margin-bottom: 5px;
	margin-top: 5px;
}
.accommodation_content_botm .accommodation_hotel_name+p{
	margin-bottom: 40px;
}
.accommodation_content_botm .accommodation_hotel_name a{
	font-size: 18px;
	text-decoration: underline;
	color: #1c1c1c;
}
/* 往期回顾 */
.previous_review{
	background-image: url(../images/previousreviewbg.jpg);
	background-size: 100%;
}


@media(max-width: 1600px){
	.previous_review{
		background-size: 1600px 1000px;
	}
}
.previous_review .top-line{
	background:#fff;
}
.previous_review h1{
	color: #fff;
}







.previous_review_lunbo a:nth-of-type(1),.previous_review_lunbo a:nth-of-type(6),.previous_review_lunbo a:nth-of-type(7){
	opacity: 0; 
	visibility: hidden;
}
.previous_review_lunbo a:nth-of-type(2){
	opacity: 1; 
	visibility: visible; 
	transform: translateX(-350px) translateZ(-200px) rotateY(45deg);
}
.previous_review_lunbo a:nth-of-type(3){
	opacity: 1; 
	visibility: visible; 
	transform: translateX(0px) translateZ(0px) rotateY(0deg);
}
.previous_review_lunbo a:nth-of-type(4){
	opacity: 1; 
	visibility: visible; 
	transform: translateX(350px) translateZ(-200px) rotateY(-45deg);
                            
}
.previous_review_lunbo a:nth-of-type(5),.previous_review_lunbo a:nth-of-type(8),.previous_review_lunbo a:nth-of-type(9),.previous_review_lunbo a:nth-of-type(10){
	opacity: 0; 
	visibility: hidden; 
	transform: translateX(450px) translateZ(-300px) rotateY(-45deg);
                            
}
















.previous_review_botm p,.previous_review_botm .accommodation_hotel_name a{
	color: #fff;
}
.previous_review_botm .accommodation_hotel_name a{
	font-size: 14px;
	text-decoration: none;
}
.previous_review_boxs{
	padding-top: 0;
	margin-top: 0px ;
}
.previous_review_line{
	top: 70px;
}
/* footer */
footer{
	background:#242424;
	line-height: 50px;
}
footer .container{
	padding: 0;
}
footer div{
	color: #fff;
}
/* 返回顶部&关注 */
#return-top {
    width: 45px;
    height: 45px;
    background-image: url(../images/new-return-top.png);
    position: fixed;
    right: 30px;
    bottom: 205px;
    background-repeat: no-repeat;
    cursor: pointer;
    display: none;
}
#weixin {
    width: 45px;
    height: 45px;
    background-image: url(../images/new-weixin.png);
    position: fixed;
    right: 30px;
    bottom: 60px;
    background-repeat: no-repeat;
}
#weixin .erweima {
    position: fixed;
    width: 222px;
    height: 475px;
    right: 80px;
    bottom: 60px;
    background-image: url(../images/erweima.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
}
.erweimaen{
	background: url(../images/erweimaen.png) !important;
	height: 527px !important;
}
/* 补充样式 */
.giftfather_box{
	background:#f9f8f8;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 15px;
	margin-top: 15px;
}
.giftfather_box2{
	padding: 40px;
	background: #f9f7f8;
}
.header_right ul+img{
	display: none;
}
.ph_lunbo{
	display: none;
	width: 100%;
    height: 300px;
    position: relative;
    margin-top: 20px;
}
.ph_lunbo ul li{
	position: absolute;
	left: 0;top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	overflow: hidden;
}
.ph_btn{
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0px;
	left: 0;
}
.ph_lunbo .ph_btn ul{
	width: 200px;
	height: 100%;
	margin: 0 auto;
}
.ph_lunbo .ph_btn ul li{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #fff;
	margin: 0 5px;
	position: relative;
	float: left;
}
.header_nav_ph{
	display: none;
	width: 100%;
    position: absolute;
    left: 0;
    top: 62px;
    padding: 0;
    height: auto;
    display: none;
}
.header_nav_ph ul li{
	width: 51%;
    height: 100%;
    float: right;
    background: #414040;
    text-align: center;
    position: relative;
}
.header_nav_ph ul li a{
	color: #fff;
	line-height: 50px;
	font-size: 16px;
	text-decoration: none;
	cursor: pointer;
}
.ph_head_underline{
	width: 80%;
	height: 2px;
	background: #4a4a4a;
	position: absolute;bottom: 0;
	left: 10%;
	display: block;
}
.ph_ticket{
	display: none;
	position: absolute;
}
.ph_ticket a{
	color: #37e10e;
	font-size: 12px;
}


.Registration_content .team_content p{
	color: #7a7979;margin: 0;
}
.Registration_content .team_content p:nth-of-type(2),.Registration_content .team_content p:nth-of-type(3){
	margin: 0;
}
.Registration_content .yanxiu_content p{
	color: #7a7979;font-weight:blod;
	
}
.Registration_content .yanxiu_content p:nth-of-type(2),.Registration_content .yanxiu_content p:nth-of-type(3){
	margin: 0;
}
.speakers_name img{
	width: 116px;
}
/* 补充注册报名 */
.Registration_content .team_content p.Payment_and_invoice{
	color:  #7a7979;
	margin-top: 20px;
	font-weight: normal;
	line-height: 25px;	
	font-size: 16px;
}



/* en 样式调整 */
.header_left_en{
	width: 10%;
}
.header_nav_en ul.en li{
	width: 10%;
}
.header_nav_en ul li.en4{
	width:15%;
}
.header_nav_en ul li.en5{
	width:18%;
}
.header_nav_en{
	width: 87%;
    float: left;
    height: 62px;
    padding: 0;
}
.header_right_en{
	padding: 0;
	width: 0%;
}
.accommodation_content_botm_en img{
	width: 150px;
	margin-top: 10px;
}
.accommodation_content_botm_en .accommodation_hotel_name a{
	font-size: 14px;
}
.angeda_2box{
	width: 100%;
	height: auto;
	padding: 50px 0 0 50px;
}
.angeda_2box ul li{
	width: 100%;
	height: 35px;
	line-height: 35px;
}
.angeda_2box .angeda_2boxleft{
	float: left;
}
.angeda_2box .angeda_2box_time{
	width: 30%;
	text-align: right;
}
.angeda_2box .angeda_2box_time li{
}
.angeda_2box .angeda_2box_circle{
	width: 20%;
	text-align: center;
}
.angeda_2box .angeda_2box_content{
	width: 50%;
	text-align: left;
}
.top_circle{
	width: 25px;
	height: 25px;
	background: #00bcd5;
	border-radius: 50%;
	margin: 0 auto;
}
.middle_line{
	width: 1px;
	height: 100%;
	background:#00bcd5;
	margin: 0 auto;
}
.hollow_circle{
	width: 35px;
	height:35px;
	border: 7px solid #00bcd5;
	border-radius: 50%;
	margin: 0 auto;
}
.text_00bcd5{
	color: #00bcd5;
	font-weight: bold;
}
.top-line_en{
	width: 36%;
}
.speakers_name_en h3{
	font-size: 16px;
}
.speakers_name_en p{
	font-size: 12px;
}
.min_be_our_speaker{
	display: block;
}
/* 大会资料下载 */
.Assembly_information ul li a,.Assembly_information ul li{
	font-family: simSun,"新細明體";
    font-size: 15px;
    letter-spacing: .1em;
    color: #106ba2;
    line-height: 30px;
}
@media(max-width: 1600px){
	.top-line_en{
		width: 30%;
	}
}
/* 移动 */
@media(max-width: 768px){
	.speakers_name p{
		font-size: 12px;
	}
	/* 补充注册报名 */
	.gift_box span.gift_box_span{
		margin: 0;
	}
	.giftfather_box{
		width: 100%;
		padding: 10px 25px;
	}
	.gift_box{
		width: 100%;
	}
	.gift_box span{
		display: block;
		float: left;
		margin: 0;
	}
	.gift_box span:nth-of-type(1){
		width: 80%;
	}
	.gift_box span:nth-of-type(2){
		width: 20%;
	}
	.team_content,.yanxiu_content{
		float: none;
		padding: 0;
		width: 100%;
		margin: 0 auto;
	}
	.giftfather_box2 li:nth-of-type(1) p:nth-of-type(3),.giftfather_box2 li:nth-of-type(1) p:nth-of-type(4),.giftfather_box2 li:nth-of-type(2) p:nth-of-type(5){
		width: 50%;
		float: left;
		font-size: 13px !important;
		margin-bottom: 20px;
		margin-top: 20px;
	}
	.giftfather_box2 li:nth-of-type(2) p:nth-of-type(4){
		width: 100%;
	}
	.giftfather_box2 li:nth-of-type(2) p:nth-of-type(6){
		width: 50%;
		float: left;
		font-size: 13px !important;
		margin-bottom: 20px;
		margin-top: 0 !important;
	}
	.yanxiu_content{
		font-size: 13px !important;
	}
	.giftfather_box2 li:nth-of-type(2) p:nth-of-type(4){
		width: 100%;
	}
	.giftfather_box2 li:nth-of-type(2) p:nth-of-type(5){
		margin: 0;
	}
	.lijigoupiao_en{
		width: 90%;
	}
	.Registration_table tfoot tr td:nth-of-type(2),.Registration_table tfoot tr td:nth-of-type(3),.Registration_table tfoot tr td:nth-of-type(4){
		font-size: 12px;
	}
	.Registration_content .team_content p.Payment_and_invoice{
		padding: 0;
	}
	/* 地图 */
	.accommodation_content_md div.maps_box{
		padding: 0 15px;
	}
	body,.container{
		min-width: 100%;
	}
	.previous_review{
		background-image: url(../images/previousreviewbgMIN.jpg);
		background-size: 100% 1500px;
	}
	
	.speaker_datebox ul li a, .Agenda_datebox ul li a{
		font-size: 12px;
	}
	.header_nav_ph ul li img{
		margin-right: 5px;
		width: 20px;
	}
	.Registration_table_contact,.Registration_table_contact2{
		display: none;
	}
	.ph_ticket{
		display: block;
		left: 45%;
		top: 17px;
		margin-left: -28px;
	}
	.Agenda-bottom tr td:nth-of-type(3) ul li span, .agenda_one_right li:nth-of-type(10) ul li span{line-height: 30px;}
	
	#weixin{
		display: none;
	}
	.Partner_content h3{
		margin: -20px auto 20px;
		font-size: 20px;
	}
	.content{
		margin-bottom: 0;
	}
	.header_nav{
		display: none;
	}
	.header_right{
		width: 30%;
	}
	.header_right ul li{
		display: none;

	}
	.header_right ul{
		height: 100%;
		margin: 0;
		left: 90px;
		position: absolute;
		top: 3px;
	}
	.header_left img{
		width: 90%;
		margin-top: 22px;
	}
	.header_right ul li a img{
		width: 10px;
	}
	.header_right ul li{
		padding: 0 3px;
	}
	.header_right ul+img{
		display: block;
		position: absolute;
		right: 55px;
		top: 20px;
		width: 30px;
		cursor:pointer;
	}
	.en{
		position: absolute;
		right: 20px;
	}
	.header_nav{
		width: 100%;
		position: absolute;
		left: 0;
		top: 62px;
		padding: 0;
		height: auto;
		display: none;
	}
	.header_nav ul li{
		width: 100%;
		height: 100%;
		float: none;
		background: #013952;
		text-align: center;
	}
	.header_nav ul li a{
		margin: 0;
		line-height: 50px;
	}
	.header_nav ul li a.ticket{
		margin: 0;	
	}
	.banner{
		background-size: 100%;
		height:310px;
		background-image: url(../images/pnhone_banner.jpg);
	}
	.ticket-btn{
		left: 12%;
		bottom: 25%;
		background-position: center;
		background-repeat: no-repeat;
		width: 130px;
		height: 25px;
		background-size: 80%;
	}
	.ticket-btn a{
		font-size: 14px;
		line-height: 25px;
	}
	.speaker h1, .Agenda h1, .Registration h1, .Partner h1, .accommodation h1, .previous_review h1,.general-introduction h1,.Assembly_information h1{
		line-height: 60px;
		font-size:25px;
	}
	.content p{
		font-size: 14px;

	}
	.content ul li{
		width: 33.3%;
	}
	.content ul li img{
		height: 40px;
	}
	.top-line{
		width:28%;
		top: 52px;
	}
	.speaker-content-bottom{
		margin-top: 34px;
	}
	.speaker-content-bottom ul li{
		width: 33.3%;
		min-height:305px;
		padding-top: 30px;
	}
	.speaker-content-bottom ul li .speakers_name img{
		width: 80%;
	}
	.speakers_name h3{
		font-size: 16px;
	}
	.speaker-content-top ul li a,.speakers_name button{
		font-size: 12px;
	}
	.jiaruhezuo{
		width: 100%;
		font-size: 13px !important;
	}

	.Agenda-bottom table{
		margin: 40px 0 0 0;
		padding: 0;
		width: 100%;
	}
	.Registration_table thead tr td{
		font-size: 16px;
	}
	.Registration_table tfoot tr:nth-of-type(2) td, .Registration_table tfoot tr:nth-of-type(3) td{
		font-size: 20px;
	}
	.Registration_table tfoot tr:nth-of-type(2) td:nth-of-type(1) p, .Registration_table tfoot tr:nth-of-type(3) td:nth-of-type(1) p{
		font-size: 12px;
	}
	.Registration_table tfoot tr:nth-of-type(2) td:nth-of-type(1) p:nth-of-type(2) a img, .Registration_table tfoot tr:nth-of-type(3) td:nth-of-type(1) p:nth-of-type(2) a img{
		width: 95%;
	}
	.Registration_table{
		width: 100%;
	}
	.Partner_content ul li{
		width: 33.3%;
		padding: 0 10px !important;
	}
	.Partner_content ul li a img{
		width: 80%;
	}
	.pc_lunbo{
		display: none;
	}
	.ph_lunbo{
		display: block;
	}
	.ph_lunbo img{
		width: 100%;
	}
	.accommodation_content_botm .accommodation_hotel_name a{
		font-size: 12px;
	}
	.accommodation_content_botm .accommodation_hotel_name+p{
		font-size: 12px;
	}
	.previous_review_botm{
		padding: 0;
	}
	.accommodation_content_botm .accommodation_hotel_name{
		font-size: 12px;
	}

	footer{
		padding: 0 30px;
	}
	.Agenda-bottom tr td:nth-of-type(1){
		width: 25%;
	}
	.Agenda-bottom tr td:nth-of-type(2){
		width: 10%;
	}
	.Agenda-bottom tr td ul li{
		font-size: 12px;
	}
	.Agenda-bottom tr td:nth-of-type(3) ul li span, .agenda_one_right li:nth-of-type(10) ul li span{
		font-size: 12px;
	}
	.header_left{
		padding-left: 20px;
	}
	.modal-body img{
		width: 100px;
	}
	.angeda_2box ul li{
		line-height: 16px !important;
		height: 40px;
	}
	.angeda_2box ul.angeda_2box_content,.angeda_2box ul.angeda_2box_time{
		margin-top: 10px;
	}
	.hollow_circle,.top_circle{
		width: 40px;
		height: 40px;
	}
}
@media(max-width: 375px){
	.banner{
		height: 283px;
	}
	.speaker_datebox ul li{
		width: 50%;
		text-align: left  !important;
	}
	.Partner_content h3{
		font-size: 16px;
	}
	

}
@media(max-width: 320px){
	.banner{
		height: 242px;
	}
	.jiaruhezuo{
		font-size: 12px;
	}
	.speaker_datebox ul li{
		width: 50%;
		text-align: left;
	}
	.speaker_datebox{
		width: 80%;
		margin: 0 auto;
	}
	.speaker-content-bottom ul li{
		width: 50%;
	}
	.speaker-content-bottom ul li{
		min-height: 275px;
	}
	.header_right ul{
		left: 70px;
	}
	footer .container{
		font-size: 12px;
	}
	.giftfather_box2 li:nth-of-type(1) p:nth-of-type(3),.giftfather_box2 li:nth-of-type(1) p:nth-of-type(4),.giftfather_box2 li:nth-of-type(2) p:nth-of-type(4),.giftfather_box2 li:nth-of-type(2) p:nth-of-type(5){
		width: 100%;
		float: left;
		font-size: 13px !important;
		margin-top: 0 !important;
		
	}
}






@media(max-width: 768px){
	.header_left_en{
		width: 20%;
	}
	.min_be_our_speaker{
		display: none;
	}
	.speaker-content-top_en ul li{
		display: block;
	}
	.angeda_2box{
		padding: 50px 0 0 0;
	}
	.angeda_2box ul li{
		font-size: 12px;
	}
	.Registration_table_en thead tr td{
		font-size: 12px;
	}
	.Registration_table_en tfoot tr td{
		font-size: 12px;
		line-height: 20px;
	}
	.Registration_table_en tfoot tr:nth-of-type(2) td, .Registration_table_en tfoot tr:nth-of-type(3) td{
		font-size: 12px;
	}
	.top-line_en{
		width: 2%;
	}
}